@model IEnumerable<Avengers_hw.Models.Avengers>

<div id="showResults">
    <h4> Список Героев </h4>

    @foreach (var Avengers in Model)
    {
<ul class="list-group list-group-flush">
    <li class="list-group-item">@Avengers.id</li>
    <li class="list-group-item">@Avengers.name</li>
    <li class="list-group-item">@Avengers.surname</li>
    <li class="list-group-item">@Avengers.hero</li>
    <li class="list-group-item">@Avengers.age</li>
</ul>}

</div>